body {
  /* border: 5px solid rgb(16, 177, 131); */
}

.header-container {
  /* border: 3px solid red; */
  width: 100%;
  display: grid;
  grid-template-areas:
    "title title title title"
    "player player computer computer";
}

.stats-container {
  /* border: 1px solid blue; */
  padding: 12px;
  gap: 10px;
}

.avatar-container {
  margin: 12px;
}

.stats-container.player {
  grid-area: player;
}
.stats-container.computer {
  grid-area: computer;
}

.title-container {
  /* padding: 34px; */
  grid-area: title;
  /* border: 1px solid brown; */
}

.game-container {
  /* border: 2px solid green; */
  width: 100%;
  flex: 4;
  display: flex;
}

.hands-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.choices-container {
  /* border: 1px solid black; */
  flex: 1;
  width: 100%;
  gap: 32px;
  padding: 40px;
}

.choices-container img {
  width: 64px;
}

button {
  border: none;
  background-color: unset;
}

.exit-button {
  margin-left: auto;
  padding: 10px;
  opacity: 50%;
  cursor: pointer;
  /* border: 1px solid red; */
}

.exit-button img {
  width: 32px;
}

@media screen and (min-width: 800px) {
  .header-container {
    padding-top: 40px;
    grid-template-areas: "player title computer";
  }
  h1 {
    font-size: 5rem;
    max-width: 200px;
    text-align: center;
  }

  .exit-button {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  .choices-container {
    padding: 0;
    margin-bottom: 20px;
  }
}
